@font-face {
  font-family: 'Karantina';
  src: url('../public/fonts/Karantina-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Karantina';
  src: url('../public/fonts/Karantina-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Karantina';
  src: url('../public/fonts/Karantina-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Timer';
  src: url('../public/fonts/timerfont.ttf') format('truetype');
  font-style: normal;
}

.timer {
  font-family: 'Timer', sans-serif;
  font-weight: normal;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.karantina-light {
  font-family: 'Karantina', sans-serif;
  font-weight: 300;
}

.karantina-regular {
  font-family: 'Karantina', sans-serif;
  font-weight: normal;
}

.karantina-bold {
  font-family: 'Karantina', sans-serif;
  font-weight: 700;
}

